# Entorno local de desarrollo
SECRET_KEY=django-insecure-cambie-esta-clave-por-una-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=mysql://django_user:django_password@db:3306/clinica_db
ACTIVEMQ_HOST=broker_mensajeria
ACTIVEMQ_PORT=61613
